<div class="row">
  <form action="/admin/generate-fake-posts" method="post">
     <h1>Genearte Post</h1>
     <div class="form-group">
        <input type="number" name="amount" class="form-control" name="">
     </div>
     <button class="btn btn-dark" type="submit">Genearte</button>
  </form>
</div

<div class="row">
 <canvas id="myChart" width="400" height="400"></canvas>
</div>
